extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
        each recipe in recipes
          .col-xs-12.list-group-item
            h4
              a(href="/recipe/#{recipe._id}")= recipe.name
              small &nbsp;
                recipe.ratings.calculated
    .col-xs-12.col-sm-4
p.lead= sidebar
